.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.display-big {
  margin-top: 5%;
  font-size: 50px;
  font-weight: bold;
}
